* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

header p {
    font-size: 18px;
}

section {
    padding: 40px 0;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2c3e50;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

.galeria-fotos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.foto img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 16px;
}
.whatsapp-contacto {
    background-color: #25D366; /* Cor verde do WhatsApp */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
}

.whatsapp-contacto a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.whatsapp-contacto a:hover {
    text-decoration: underline;
}
